.container {
  @apply m-auto max-w-lg flex flex-col gap-4 h-screen px-2 md:px-0;
}

section {
  @apply flex flex-col gap-4;
}

article {
}

aside {
}

nav {
  @apply my-4 flex items-center justify-between;
}

main {
  @apply flex-grow flex flex-col gap-4;
}

form {
  @apply flex flex-col gap-2;
}

hr {
  @apply border border-border my-2;
}

ul {
  @apply ml-4 list-disc;
}

li {
  @apply ml-2;
}

pre {
  @apply border border-border p-2 rounded-md my-2 bg-surface overflow-auto text-sm;
}

.card {
  @apply overflow-hidden border border-border rounded-md flex flex-col gap-1 bg-surface;
}

.card-img {
  @apply rounded-none;
}

.card-body {
  @apply p-4;
}

table {
  @apply w-full;
  border-collapse: separate;
  border-spacing: 0;
}

th,
td {
  @apply border-b border-border px-4 py-2 text-left;
}

th:first-child,
td:first-child {
  @apply border-l;
}

th:last-child,
td:last-child {
  @apply border-r;
}

thead th {
  @apply border-t;
}

thead th:first-child {
  @apply rounded-tl-md;
}

thead th:last-child {
  @apply rounded-tr-md;
}

tbody tr:last-child td:first-child,
tbody tr:last-child th:first-child {
  @apply rounded-bl-md;
}

tbody tr:last-child td:last-child,
tbody tr:last-child th:last-child {
  @apply rounded-br-md;
}

tbody tr:hover th,
tbody tr:hover td {
  @apply bg-surface-hover;
}

footer {
  @apply py-4 flex items-center justify-between text-sm text-text-subtle;
}
