<!doctype html>
<html lang="en">
  <head> </head>
  <body>
    <div class="container">
      <div id="navbar"></div>
      <main>
        <section>
          <h3>Typography</h3>
          <hr />
          <h6>h1</h6>
          <p>Heading 1</p>
          <b>Usage</b>
          <pre><code>&lt;h1&gt;Heading 1&lt;/h1&gt;</code></pre>
          <h1>h1</h1>
          <hr />
          <h6>h2</h6>
          <p>Heading 2</p>
          <b>Usage</b>
          <pre><code>&lt;h2&gt;Heading 2&lt;/h2&gt;</code></pre>
          <h2>h2</h2>
          <hr />
          <h6>h3</h6>
          <p>Heading 3</p>
          <b>Usage</b>
          <pre><code>&lt;h3&gt;Heading 3&lt;/h3&gt;</code></pre>
          <h3>h3</h3>
          <hr />
          <h6>h4</h6>
          <p>Heading 4</p>
          <b>Usage</b>
          <pre><code>&lt;h4&gt;Heading 4&lt;/h4&gt;</code></pre>
          <h4>h4</h4>
          <hr />
          <article>
            <h6>h5</h6>
            <p>Heading 5</p>
            <b>Usage</b>
            <pre><code>&lt;h5&gt;Heading 5&lt;/h5&gt;</code></pre>
            <h5>h5</h5>
          </article>
          <hr />
          <article>
            <h6>h6</h6>
            <p>Heading 6</p>
            <b>Usage</b>
            <pre><code>&lt;h6&gt;Heading 6&lt;/h6&gt;</code></pre>
            <h6>h6</h6>
          </article>
          <hr />
          <article>
            <h6>Paragraph</h6>
            <p>A paragraph</p>
            <b>Usage</b>
            <pre><code>&lt;p&gt;This is a paragraph&lt;/p&gt;</code></pre>
            <p>This is a paragraph</p>
          </article>
          <hr />
          <article>
            <h6>link</h6>
            <p>A link</p>
            <b>Usage</b>
            <pre><code>&lt;a class="link" href="/"&gt;Link&lt;/a&gt;</code></pre>
            <a class="link" href="/components/">Link</a>
          </article>
          <hr />
          <article>
            <h6>blockquote</h6>
            <p>A blockqoute</p>
            <b>Usage</b>
            <pre><code>&lt;blockquote&gt;Practice beats talent.&lt;/blockquote&gt;</code></pre>
            <blockquote>Practice beats talent.</blockquote>
          </article>
        </section>
        <section>
          <h3>Layouts</h3>
          <article>
            <h6>article</h6>
            <p>
              <code>article</code> is collection of paragraphs, span, lists,
              links, pre, code, quote, blockquote
            </p>
            <pre><code>&lt;article&gt;...&lt;/article&gt;</code></pre>
          </article>
          <article>
            <h6>section</h6>
            <p>
              <code>section</code> provides <code>flex-col</code> with
              <code>g-2</code>
            </p>
            <pre><code>&lt;section&gt;</code>
<code>.</code>
<code>.</code>
<code>.</code>
<code>&lt;/section&gt;</code></pre>
          </article>
        </section>
      </main>
      <div id="footer"></div>
    </div>
    <script type="module" src="/main.js"></script>
  </body>
</html>
